/* .reveal table { */
/*     border: 1px solid white; */
/* } */

.reveal th {
    font-weight   : bold;
    text-align    : left;
    padding       : 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-top    : 1px solid;
    border-right  : 1px solid;
    border-bottom : 1px solid;
    border-left   : 1px solid;
}

.reveal td {
    text-align: left;
    padding: 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-left: 1px solid;
    border-right: 1px solid;
}

.reveal table tr:last-child td {
    border-bottom: 1px solid;
}

.reveal table {
    margin: 0;
    border-collapse: collapse;
    border: 0;
    border-top: 1px solid;
    border-spacing: 0;
    font-size: 0.8em;
}
